h1 {
    text-align: center;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    
}

.cell {
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    
}

.floor {
    background-color: white;
    
}

.wall {
    background-color: navy;
   
}

.box {
    background-color: rgb(235, 106, 55);
    border-radius: 4px;
}

.playerDot {
    background-color: lightgreen;
    border-radius: 4px;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.boxDot {
    background-color: rgb(236, 172, 146);
    border-radius: 4px;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.storage {
    display: flex;
    justify-content: center;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
}

.start {
    background-color: green;
    position: relative;
    
}

.player {
    width: 40px;
    height: 40px;
    background-color: green;
    /* border-radius: 10px; */
    position: absolute;
    /* left: 10px;
    top:  440px; */
}

#win {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    font-weight: bold;
    /* background-color: yellow; */
    /* height: 100px;
    width: 600px; */
    
}

