h1 {
    text-align: center;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 510px;
    
    
}

.cell {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    
    /* border: 1px solid black; */
    
}

.floors {
    background-color: white;
    
}

.walls {
    background-color: navy;
   
}

.boxes {
    background-color: rgb(235, 106, 55);
    border-radius: 10px;
}

.storagePlayers {
    background-color: lightgreen;
    border-radius: 4px;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.storageBoxes {
    background-color: yellowgreen;
    border-radius: 10px;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.storages {
    display: flex;
    justify-content: center;
    background-image: url("pinkDotMed.png");
    background-repeat: no-repeat;
    background-position: center;
}

.start {
    background-color: green;
    position: relative;
    
}

.player {
    width: 50px;
    height: 50px;
    background-color: green;
    /* border-radius: 10px; */
    position: absolute;
    /* left: 10px;
    top:  440px; */
}

#win {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bold;
    /* background-color: yellow; */
    /* height: 100px;
    width: 600px; */
    
}

